

.titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(59, 59, 59);
}

.card{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
}

.card-content{
    width: 250px;
    height: 300px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px -1px 10px 0px rgba(107, 107, 107, 0.514);
}
.img{
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 85%;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-family: 'Roboto', sans-serif;
    color: rgb(59, 59, 59);
}