

.titulo{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgb(59, 59, 59);
}

.card{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}
.card a{
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
    text-decoration: none;
}
.card a:hover{
    box-shadow: -1px -1px 10px 0px rgba(107, 107, 107, 0.514);
    border-radius: 10px;
    border: 0px solid rgb(235, 235, 235);

}
.card-content{
    width: 250px;
    height: 300px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.card-content:hover{
    width: 260px;
    height: 310px;
    transition: all .5s;
}
.img{
    width: 100%;
    background-image: url("../20220926_200848_0005.png");
    background-size: cover;
    background-position: center;
    height: 300px;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    color: rgb(59, 59, 59);
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}

@media (max-width: 1200px){
    .card{
        display: flex;
        width: 100%;
        height: 200vh;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px;
    }
   
}
@media(max-width: 600px){

    .card-content{
        width: 150px;
        height: 200px;
        
      
    }
    .card-content:hover{
        width: 155px;
        height: 205px;
        transition: all .5s;
    }
}