

.titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgb(59, 59, 59);
}

.card{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.card-content{
    width: 250px;
    height: 300px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px -1px 10px 0px rgba(107, 107, 107, 0.514);
}
.card-content:hover{
    width: 260px;
    height: 310px;
    transition: all .5s;
}
.img{
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 300px;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    color: rgb(59, 59, 59);
}

@media (max-width: 1200px){
    .card{
        display: grid;
        
        grid-template-areas: 
        "card card";
        grid-gap: 5px 5px;
        padding: 5px;
        
    }
    .card-content{
        grid-area: "card";
        
    }
    .card-content:hover{
        width: 260px;
        height: 310px;
        transition: all .5s;
    }
}
@media(max-width: 600px){
    .card{
        display: grid;
        height: 80vh;
      
        grid-gap: 0;
        padding: 1px;
        
    }
    .card-content{
        width: 150px;
        height: 200px;
        
      
    }
    .card-content:hover{
        width: 155px;
        height: 205px;
        transition: all .5s;
    }
}