:root {
    --esmeral: #5ece7b;
    --porcelain: #f1f2f3;
    --white: #fff;
    --gray: rgba(0, 0, 0, 0.5);
}

.link__buttom a{
    text-decoration: none;
}

.cart{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    display: none;
}

.cart__close{
    height: 52px;
    width: 52px;
    position: fixed;
    float: right;
    top: 34px;
    right: 430px;

}
.cart__close,
.product__remove{
    border-radius: 50%;
    background-color: #5ece7b;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__remove{
    height: 30px;
    width: 30px;
    position: fixed;
    right: 18px;
    display: none;
}

.product__remove > .close-icon{
    font-size: 1rem;
}

.cart__product:hover > .product__remove{
    display: flex;
}

.close-icon{
    font-family: Material icons, sans-serif;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}



.cart__content{
    width: 408px;
    height: 94.8vh;
    background-color: #fff;
    float: right;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.protector{
    height: 698px;
}

.cart__products {
    width: 100%;
}

.protector::-webkit-scrollbar{
    display: none;
}
.cart__empty {
    margin-top: 191px;
    text-align: center;
}

.empty__title {
    color: #5ece7b;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    margin-top: 80px;
}

.empty__subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}

.cart__actions{
    width: 100%;
    min-height: 151px;
    display: flex;
    margin-top: 60px;
    flex-direction: column-reverse;
}

.cart__add-button{
    width: 100%;
    height: 52px;
    background-color: #5ece7b;
    text-transform: uppercase;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: white;
    cursor: pointer;
}

.remove-icon,
.add-icon{
    font-family: Material icons, sans-serif;
    cursor: pointer;
}

.cart__product{
    width: 95%;
    height: 200px;
    padding: 8px;
    display: flex;
    border: 0.5px solid black;
    border-radius: 20px;
    margin-top: 10px;
}

.cart__product-image {
    display: flex;
    width: 100%;
}

.cart__product-details {
    margin-left: 24px;
    width: 100%;
}

.cart__product-title {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
}

.cart__product-prince {
    font-size: 14px;
    font-style: 500;
    font-weight: 18px;
    margin-top: 25px;
    line-height: 160%;
}

.remove {
    margin-top: 24px;
}

.cart__total-label,
.card__total-value{
    font-weight: 500;
    
    
}

.cart__total-value{
   margin-left: 8px;
}

.cart__total-items{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quantprod{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    position: relative;
    margin: 0auto;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    background-color: white;
}

.cart__button-secondary {
    width: 100%;
    height: 52px;
    background-color: #1d1f22;
    text-transform: uppercase;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart__summary{
    flex-direction: column;
}

.summary__item{
    display: flex;
    justify-content: space-between;
}

.summary__label {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
   
}

.summary__value {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    
}

.card__button--list {
    width: 90%;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    bottom: -75%;
    display: none;
    cursor: pointer;
    
}

.img8:hover > .card__button--list{
    display: flex;
}
.img7:hover > .card__button--list{
    display: flex;
}
.img6:hover > .card__button--list{
    display: flex;
}
.img5:hover > .card__button--list{
    display: flex;
}
.img4:hover > .card__button--list{
    display: flex;
}
.img3:hover > .card__button--list{
    display: flex;
}
.img2:hover > .card__button--list{
    display: flex;
}
.img1:hover > .card__button--list{
    display: flex;
}
.img:hover > .card__button--list{
    display: flex;
}