body{
    background: linear-gradient(to bottom, #f3f3f3 0, #f3f3f3 30%, #2E6E41  20% );
}
textarea{
    resize: none;
    width: 80%;
}
.container{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     padding: 20px;

}
.info{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.caixa{
    width: 1000px;
    height: 350px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(166, 166, 166, 0.578);


}
.numero-contato img{
    width: 8%;
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
    
}
.feed{
    color: #2E6E41;
    justify-content: center;
    display: flex;
}

.numero-contato{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    
}
.form{
    display: flex;
    height: 100%;
    align-items: center;
}
.email{
    font-size: 18px;
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    
}


.redes-social{
    width: 100%;
    
}

.redes-social img{
    width: 30px;
    height: 30px;
}



.input [type=text]{
    outline: none;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid black;
    border-radius: 6px;
}


.enviar input[type=button]{
    width: 150px;
    height: 40px;
    background-color: white;
    border: 0 solid white;
    border-radius: 7px;
    font-weight: 600px;
    font-size: 15px;
    transition: .5s; 
    margin-top: 10px;
    border: 0px solid black;
    border-radius: 6px;
    background-color: #2E6E41;
    color: white;

}

.button{
    display: flex;
    justify-content: center;
}

.tex-area textarea{
    outline: none;
    resize: none;
    margin-top: 10px;
    
}

@media(max-width: 600px){

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .caixa{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-radius: 0;
    }
    .content{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
         padding: 5px;
    
    }
    .form{
        display: flex;
        height: 700px;
        align-items: center;
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        font-family: 'Roboto', sans-serif;
    }
    .numero-contato{
        justify-content: center;
        align-items: center; 
    }
    .email{
        font-size: 18px;
        display: flex;
        height: 15%;
        width: 100%;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .redes-social{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 50px;
        align-items: center;
    }
}





