body{
    background: linear-gradient(to bottom, #f3f3f3 0, #f3f3f3 40%, #FE9603  20% );
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
}

.caixa{
    width: 1000px;
    height: 350px;
    background-color: white;
    display: flex;
    border: 0.5px solid black;
    border-radius: 10px;

}
.numero-contato img{
    width: 8%;
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
    
}

.numero-contato{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-right: 60%;
    
}
.email{
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    
}


.redes-social{
    width: 100%;
    
}

.redes-social img{
    width: 40%;
    margin-left: 15px;

}



.input [type=text]{
    outline: none;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 0.5px solid black;
    border-radius: 6px;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.enviar input[type=button]{
    width: 180px;
    height: 40px;
    background-color: white;
    border: 0 solid white;
    border-radius: 7px;
    font-weight: 600px;
    font-size: 15px;
    transition: .5s; 
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #FE9603;

}

.button{
    display: flex;
    justify-content: center;
}

.tex-area textarea{
    outline: none;
}







