

.container{
    width: 100vw; /*largura*/
    height: 95vh;/*altura*/
    background: linear-gradient(to bottom, #f3f3f3 0, #f3f3f3 30%, #FE9603  20% );
    display: flex;
    justify-content: center;
    align-items: center;

}
.caixa{
    
    width: 450px;
    height: 550px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     box-shadow: 0px 0px 8px 1px rgba(166, 166, 166, 0.578);

}
.content{
    width: 85%;

}

.caixa h2{
    font-size: 22px;
    font-weight: 600;
    color: #FE9603;
}
.content .input p{
    margin-top: 10px ;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(56, 56, 56);
    
}
.content input[type=text]{
    border: 1px solid rgb(45, 45, 45);
    width: 97%;
    height: 40px;
    padding: 0 0 0 5px;
    outline: none;
    border-radius: 3px;
    transition: .2s;
    
}
.container input[type=text]::placeholder{
    color: #E5E5E5;
}
.content input[type=text]:hover
{
    color: #E87F38;
    border: 1px solid #FE9603;
}
.content input[type=password]{
    border: 1px solid rgb(45, 45, 45);
    width: 97%;
    height: 40px;
    padding: 0 0 0 5px;
    outline: none;
    border-radius: 3px;
    
}
.container input[type=password]::placeholder{
    color: #E5E5E5;
}
.content input[type=password]:hover
{
    color: #E87F38;
    border: 1px solid #FE9603;
}
.input-caixa{
    display: flex;
    margin-top:10px ;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.input-caixa input[type=checkbox]{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    
}
.input-caixa input[type=checkbox]:checked{
   background-color: #FE9603;
    
}

.input-caixa p{
    font-size: 12px;
    margin-left: 10px;
}
.input-caixa .acordo{
    font-size: 11px;
    margin-left: 10px;
}

input[type=button]{
    width: 180px;
    height: 40px;
    background-color: #FE9603;
    border: 0 solid #FE9603;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

input[type=button]:hover{
    background-color: #FE9603;
    color: white;
}
input[type=button]:active{
    background-color: #abd904d7;
    color: white;
}

@media (max-width: 480px){
    .caixa{
    
        width: 450px;
        height: 100%;
        background-color: white;
        display: flex;
        border-radius: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}