.container{
    width: 100vw;
    height: 95vh;
    background: linear-gradient(to bottom, #f3f3f3 0, #f3f3f3 30%, #2E6E41  20% );
    display: flex;
    align-items: center;
    justify-content: center;

}
.caixa{
    display: flex;
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px 1px rgba(166, 166, 166, 0.578);
}
.caixa .titulo{
    display: flex;
    height: 100px;
    align-items: center;
}
.caixa h2{
    font-size: 22px;
    font-weight: 600;
    color: #2E6E41;
}

.content{
    width: 85%;
    height: 50%;
}

.content .input p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(56, 56, 56);
}
.content input[type=text]{
    width: 97%;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(45, 43, 43);
    padding: 0 0 0 5px;
    transition: .5s;
}
.content input[type=text]:hover{
    color: #2E6E41;
    border: 1px solid #2E6E41;
}
.content input[type=text]::placeholder{
    color: #E5E5E5;
}
.content input[type=password]{
    width: 97%;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(45, 43, 43);
    padding: 0 0 0 5px;
    transition: .2s;
}
.content input[type=password]:hover{
    color: #2E6E41;
    border: 1px solid #2E6E41;
}
.content input[type=password]::placeholder{
    color: #E5E5E5;
}
.esqueceu{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;

}
.esqueceu a{
    text-decoration: none;
    font-size: 13px;
    color: #2E6E41;
    transition: .5s;
}
.esqueceu a:hover{
    color: #abd904;
}
.input-lembrar{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.input-lembrar input[type=checkbox]{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px; 
    min-height: 20px;
}

.input-lembrar p{
    font-size: 14px;
    margin-left: 10px;
}
.continuar input[type=button]{
    width: 180px;
    height: 40px;
    background-color: #2E6E41;
    border: 0 solid #2E6E41;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.continuar input[type=button]:hover{
    background-color: #2E6E41; 
}
.continuar input[type=button]:active{
    background-color: #abd904d7;
    transition: .0s;
}
.cadastra input[type=button]{
    width: 180px;
    height: 40px;
    background-color: white;
    border: 0 solid white;
    border-radius: 7px;
    color: #2E6E41;
    font-size: 15px;
    font-weight: 500;
    transition: .5s; 
    margin-top: 10px;

}
.cadastra input[type=button]:hover{
    background-color: #abd904a5;
    color: white;
}

.cadastra input[type=button]:active{
    background-color: #2E6E41;
    transition: .0s;
}

@media (max-width: 480px){
    .caixa{
        
        
        height: 100%;
       
       border-radius: 0;
       
    }
}