



nav{
    width: 100vw;
    height: 80px;
    background-color: #E87F38;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar{
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
}
.img-logo h1{
    font-family: 'Changa One', cursive;
    color: white;
    font-size: 4vmin;
}
.busca{
    width: 600px;
    display: flex;
    justify-content: center;
}
input[type=text]{
    width: 400px;
    height: 40px;
    border: 0 solid #fff;
    outline: none;
    border-radius: 5px;
    
    padding: 0 5px 0 20px;
}
input[type=text]:hover{
    width: 410px;
    height: 45px;
    transition: .3s;
}

ul{
    display: flex;
    text-decoration: none;
    
}
ul li{
   margin-left: 15px;
   margin-right: 15px;

 
}
ul a{
    font-size: 1.7vmin;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    

}
ul a:hover{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #FFEDBA;
    color: #E87F38;
    transition: .3s;
    border-radius: 5px;
}
ul a:active{
    content: '';
    display: block;
    background-color: #E87F38;
    color: #FFEDBA;
}
.car img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
.car img:hover{
    transition: .3s;
    width: 35px;
    height: 35px;
}