



nav{
    width: 100vw;
    height: 80px;
    background-color: #E87F38;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar{
    margin: auto;
    height: 80%;
    display: flex;
    align-items: center;
}
.img-logo h1{
    font-family: 'Changa One', cursive;
    color: white;
    font-size: 4vmin;
}
.busca{
    width: 600px;
    display: flex;
    justify-content: center;
}
input[type=text]{
    width: 400px;
    height: 40px;
    border: 0 solid #fff;
    outline: none;
    border-radius: 5px;
    
    padding: 0 5px 0 20px;
}
input[type=text]:hover{
    width: 410px;
    height: 45px;
    transition: .3s;
    border-radius: 5px;

}

ul{
    display: flex;
    text-decoration: none;
    
}
ul li{
   margin-left: 15px;
   margin-right: 15px;

 
}
ul a{
    font-size: 1.7vmin;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    

}
ul a:hover{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #FFEDBA;
    color: #E87F38;
    transition: .3s;
    border-radius: 5px;
}
ul a:active{
    content: '';
    display: block;
    background-color: #E87F38;
    color: #FFEDBA;
}
.car img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    
}
.car img:hover{
    transition: .3s;
    width: 35px;
    height: 35px;
}

.menu {
    display: none;
    cursor: pointer;
}
.menu div{
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

@media (max-width: 499px){
    .menu {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 10px;
        left: 0;
    }
    nav{
        width: 100vw;
        height: 100vh;
        background-color: #E87F38;  
        display: flex; 
        flex-direction: column;    
       
    }
    .navbar{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:  50%;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
    }
    ul a{
        font-size: 4vmin;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;   
    }
    ul li{
        margin-top: 15px;
        margin-bottom: 15px;
        
      
     }
    .car img{
        width: 50px;
        height: 50px;
        margin-left: 0;
    }
    .car img:hover{
        width: 55px;
        height: 55px;
    }
    input[type=text]{
        width: 200px;
        height: 40px;
        border: 0 solid #fff;
        outline: none;
        border-radius: 5px;
        padding: 0 5px 0 20px;

    }
    input[type=text]:hover{
        width: 250px;
        height: 45px;
        transition: .3s;
        border-radius: 5px;
    
    }
    
}