
nav{
    width: 100vw;
    height: 80px;
    background-color: #E87F38;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar{
    margin: auto;
    width:  80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-logo h1{
    color: white;
    font-size: 3vmin;
}
.link{
    display: block;
    height: 100%;
    text-decoration: none;
}
.busca{
    margin-left: 15px;
    margin-right: 15px;  
    display: flex;
    justify-content: center;
}

input[type=text]{
    width: 400px;
    height: 35px;
    border: 0 solid #fff;
    outline: none;
    border-radius: 5px;
    align-items: center;
    padding: 0 5px 0 20px;
    font-size: 12px;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu .nav-item{
    margin-left: 15px;
    margin-right: 15px;  

}
.nav-item a{
    
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition:  .5s;
}
.nav-item a:hover{
    font-size: 18px;
    color: rgb(221, 255, 96);
}
.menu {
    display: none;
    cursor: pointer;
}
.menu span{
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    margin: 8px;
    transition: all 0.3s ease-in-out;
}
.car img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
    
}
@media (max-width: 1110px){
    .navbar{
        margin: auto;
        width:  85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        display: block;
    }
    .busca{
        display: none;
    }
    input[type=text]{
        display: none;
    }
    .nav-menu{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #E87F38;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3;
        
    }
    .nav-menu.active{
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .menu.active .line:nth-child(2){
        opacity: 0;
    }
    .menu.active .line:nth-child(1){
        transform: translateY(10px) rotate(45deg);

    }
    .menu.active .line:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        
    }
    .car img{
    display: none;  
    }
    .nav-item a{
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
}
@media (max-width: 480px){
    .nav-item a{
        font-size: 15px;
        text-decoration: none;
        color: white;
    } 
}