

.containerproje{
    position: relative;
}
.containerproje .slide-container .slide{
    max-width: 100vw;   
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex-direction: 1 1  350px;
   
}



.containerproje .slide-container{
    display: none;
}
.containerproje .slide-container.ativo{
    display: block;
}
/*Primeiro Slide*/
.containerproje .slide-container:nth-child(1) .slide{
    background-image: url("../png_20220926_201709_0000.png");
    background-size: cover;
    background-position: center;
    transition: 1s;

}
.containerproje .slide-container:nth-child(2) .slide{
    background-image: url("../img/slide/2.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    transition: 1s;
    
}
.containerproje .slide-container:nth-child(3) .slide{
    background-image: url("../img/slide/3.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    transition: 1s;
   
}
.containerproje #prev,
.containerproje #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgba(124, 124, 124, 0.671);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 50px;
    transition: 1s;

}
.containerproje #prev:hover,
.containerproje #next:hover{
    background-color: orangered;
}
.containerproje #prev{
    left: 20px;

}
.containerproje #next{
    right: 20px;
}
@media (max-width: 1023px){
    .containerproje{
        position: static;
    }
    .containerproje #prev{
        display: none;
        top: 60%;
        left: 0;
    }
    .containerproje #next{
        display: none;
        top: 60%;
        right: 0;
    }

}
@media(max-width: 500px){
    .containerproje{
        position: static;
    }
    .containerproje .slide-container:nth-child(1) .slide{
        background-image: url("../20220926_203003_0000.png");
        background-position: center;
        transition: 1s;
    
    }
    .containerproje #prev{
        display: none;
        top: 60%;
        left: 0;
    }
    .containerproje #next{
        display: none;
        top: 60%;
        right: 0;
    }

}