@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
}

header{
    margin: 0 auto;
    width: 75%;
    height: 100%;
    display: flex;
    background-color: #FCFCFC;
}