
.fundo{
    margin: 0 auto;
    width: 90%;
   /* background-color: #F8F8F8;*/
    
}


.titulo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgb(31, 31, 31);
}

.filtro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.ordem{
    display: flex;
    font-weight: 500;
    align-items: center;
}

.ordem select{
    width: 250px;
    height: 30px;
    border: 0px solid #fff;
    outline: none;
    margin-left: 15px;
}

.qtd-Itens{
    margin-right: 15px;
}

.card{
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card a{
    text-decoration: none;
    color: black;
    border-radius: 7px;
    transition: .5s;
    margin: 5px;

}

.card a:hover{
    box-shadow: -1px 1px 9px 0px rgba(0, 0, 0, 0.279);
    border: 0px solid rgb(195, 195, 195);
   

}

.card .card-content{
    width: 240px;
    height: 380px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(195, 195, 195);
    border-radius: 7px;
    transition: .5s;
    
}

.card-content .img{
    width: 100%;
    height: 230px;
    background-image: url("../20220926_212756_0000.png");
    background-size: cover;
    background-position: center;
}
.card-content .desc{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 500;
    background-color: transparent;
    font-size: 15px;
    margin-left: 7px;
    margin-right:  7px;
}

.card-content .desc p{

}

.card-content .preco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 7px;
    margin-right:  7px;
}
.card-content .preco h6{
    font-size: 15px;
    color: #FE9603;
}
.card-content .preco p{
    margin-top: 3px;
    font-size: 11px;
}

@media (max-width: 1020px){
    .fundo{
        width: 100%;
        
    }
    .card{
    
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        flex-wrap: wrap;
        
       
    }
}
@media(max-width: 800px){
    .fundo{
        height: 220vh;
    }
    .filtro{
        display: none;
        
    }
    .card{
    
        display: flex;
        width: 100%;
        height: 100vh;
        
       
    }
    .titulo{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}
@media(max-width: 550px){
    .fundo{
        height: 440vh;
    }
    .card{
    
        display: flex;
        width: 100%;
        height: 200vh;
        
       
    }
     
}
@media(max-width: 400px){
    .fundo{
        height: 550vh;
    }
    .card{
    
        display: flex;
        width: 100%;
        height: 250vh;
        
       
    }
}